<a href="https://colab.research.google.com/github/dilp90/IA_IB_AgoDec2024_2/blob/main/ThisIsMyFirstNotebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# **My first Notebook**

Here I am going to learn about python. I can do it!

In [6]:
i = 0

while i < 6:
  print(i)
  i += 1  # i = i + 1

0
1
2
3
4
5

In [10]:
i = 1
while i < 6:
  print(i)
  if i == 8:
    print("Error!")
    break
  i += 1
else:
  print("se terminó el ciclo while")

1
2
3
4
5
se terminó el ciclo while

In [16]:
message = input("Dime algo y te lo voy a repetir: ")
print("Hola mi " + message)

Dime algo y te lo voy a repetir: Pancho
hola mi Pancho

In [17]:
# Función en python.
def my_function():
  print("Hello from a function")

In [19]:
def my_function(fname):
  print(fname + " García")

In [22]:
my_function("Pancho")
my_function("Emil")
my_function("Tobias")
my_function("Linus")

Pancho García
Emil García
Tobias García
Linus García

In [23]:
def my_function(fname, lname):
  print(fname + " " + lname)

In [25]:
a= "PAncho"
b= "García"
my_function(a,b)

PAncho García

In [26]:
a = input("Dime algo y te lo voy a repetir: ")
my_function(a,b)

Dime algo y te lo voy a repetir: Juan
Juan García

In [28]:
def pancho(child3, child2, child1):
  print("The youngest child is " + child3)
  a = child2 + child1
  print(a)

In [29]:
pancho("Emil","Tobias","Linus")

The youngest child is Emil
TobiasLinus

In [30]:
my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus
TobiasEmil

In [31]:
# Usando una lista de argumento.
def my_function(food):
  for x in food:
    print(x)

In [34]:
my_function([2, 3 , 5, 8, 789 ])

2
3
5
8
789

In [35]:
def funcion(lista):
  print(lista[-1])
  for x in range(len(lista)):
    print(lista[x])

In [36]:
funcion("pollo")

o
p
o
l
l
o

In [37]:
i = 1

while i < 6:
  print(i)
  i += 1  # i = i + 1

1
2
3
4
5

In [39]:
i = 1

while i < 9:
  print(i)
  if i == 8:
    print("Error!")
    break
  i += 1
else:
  print("se terminó el ciclo while")

1
2
3
4
5
6
7
8
Error!

In [41]:
# Calcula la tabla del 7

i = 1
x = []

while i < 11:
  print(i*7)
  x.append(i*7)
  i += 1

7
14
21
28
35
42
49
56
63
70

In [42]:
print(x)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]

In [43]:
message = input("Dime algo y te lo voy a repetir: ")
print(message)

Dime algo y te lo voy a repetir: Hola
Hola

In [44]:
# Función en python.
def my_function():
  print("Hello from a function")

In [45]:
my_function()

Hello from a function

In [46]:
def my_function(fname):
  print(fname + " García")

In [50]:
my_function("Daniel")
my_function("Pancho")
my_function("Emil")
my_function("Tobias")
my_function("Linus")

Daniel García
Pancho García
Emil García
Tobias García
Linus García

In [51]:
def my_function(fname, lname):
  print(fname + " " + lname)

In [53]:
my_function("Daniel", "López")

Daniel López

In [54]:
def my_function(food):
  for x in food:
    print(x)

In [56]:
my_function("apple")

a
p
p
l
e

In [57]:
def funcion(lista):
  print(lista[-1])
  for x in range(len(lista)):
    print(lista[x])

In [58]:
funcion("pollo")

o
p
o
l
l
o

In [2]:
# Indentation!
a = 33
b = 200

if b > a:
  z = a + b
  print(z)

233

In [3]:
# Elif
a = 33
b = 33

if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [4]:
# Else
a = 33
b = 66

if b < a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
elif a + a == b:
  print("b is 2 times a")
else:
  print("a is greater than b")

b is 2 times a

In [5]:
# Logical operators "and", "or" y "not".
a = 200
b = 200
c = 50

if a > b and c > a or a == b:
  print(":D")

:D

In [6]:
x = 9

if x > 10:
  print("Above ten,")
  if x > 20:
    print("Above ten," + " and also above 20!")
  else:
    print("Above ten," + "but not above 20.")

In [8]:
if x > 10:
  print("Above ten,")
else:
  print("Above ten," + " and also above 20!")
  print("Above ten," + "but not above 20.")

Above ten, and also above 20!

In [9]:
fruits = ["apple", "banana", "cherry"]

for x in fruits:
  print(x)

apple
banana
cherry

In [10]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [14]:
 # Range
y = range(2, 33, 3)

for x in y:
  print(x)

2
5
8
11
14
17
20
23
26
29
32

In [15]:
for x in range(3):
  print(x)
else:
  print("Finally finished!")

0
1
2
Finally finished!

In [17]:
# "break" to interrupt a cycle.
for x in range(8):
  if x == 6:
    print("Error!")
    break
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Error!

In [18]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [19]:
i = 1

while i < 6:
  print(i)
  i += 1  # i = i + 1

1
2
3
4
5

In [21]:
i = 1

while i < 6:
  print(i)
  if i == 5:
    print("Error!")
    break
  i += 1
else:
  print("se terminó el ciclo while")

1
2
3
4
5
Error!

In [22]:
message = input("Tell me something and I will repeat it: ")
print(message)

Tell me something and I will repeat it: hola
hola

In [25]:
adj = ["red", "big", "tasty"]

adj.append("green")
print(adj)

['red', 'big', 'tasty', 'green']

In [27]:
adj.pop(0)
print(adj)

['tasty', 'green']

In [28]:
# Function in Python.
def my_function():
  print("Hello from a function")

In [30]:
def my_function(fname):
  print(fname + " García")

In [33]:
def my_function(fname, lname):
  print(fname + " " + lname)

In [36]:
# List as an argument.
def my_function(food):
  for x in food:
    print(x)

In [38]:
my_function("Daniel")

D
a
n
i
e
l

In [39]:
def funcion(lista):
  print(lista[-1])
  for x in range(len(lista)):
    print(lista[x])

In [40]:
funcion(adj)

green
tasty
green

In [41]:
print(adj)

['tasty', 'green']

In [43]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# neural network example
from numpy import loadtxt
from keras.models import Sequential
from keras.layers import Dense